
html {
  font-size: 65%;
}

img {
  width: 100%;
}

.heading {
  text-align: center;
  font-size: 5rem;
  position: relative;
  margin-bottom: 3rem;
}

.heading::after {
  content: "";
  position: absolute;
  width: 20rem;
  height: 0.5rem;
  display: block;
  background-color: rgb(70, 66, 66);
  left: calc(50% - 10rem);
  bottom: -1rem;
  border-radius: 50%;
}
